<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!--This link will get the edit of the server-->
      <!--<a [routerLink]="['/servers', server.id, 'edit']"
         [queryParams]="{ allowEdit: '1' }"
         fragment="loading"
         href="#"
         class="list-group-item"
         *ngFor="let server of servers">
        {{ server.name }}
      </a>-->
      <!--The purpose of this link was to load a single server, not edit the server-->
      <!--This will break because the path sent does not match any route configured-->
      <a [routerLink]="['/servers', server.id]"
         [queryParams]="{ allowEdit: '1' }"
         fragment="loading"
         href="#"
         class="list-group-item"
         *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!--This was a link to test absolute and relative path with routing. I leave it here to trace and play if i need it to-->
    <!--<a routerLink="../servers">Reload Page</a>-->
    <!--This was a button to test relative path with routing. I leave it here to trace and play if i need it to-->
    <button (click)="onReload()" class="btn btn-primary">Reload Page</button>
    <app-edit-server></app-edit-server>
    <hr>
    <!--This is commented for now to avoid getting the errors, because we haven't configured the routing for nested components.-->
    <!--<app-server></app-server>-->
  </div>
</div>

