<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!--This was a link to test absolute and relative path with routing. I leave it here to trace and play if i need it to-->
    <!--<a routerLink="../servers">Reload Page</a>-->
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server>
  </div>
</div>

